.mobile-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.mobile-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
}

@media (max-width: 991.98px) {
    .header-nav {
        display: none; /* You can toggle this via JS */
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        width: 100%;
        padding: 1rem;
        z-index: 999;
    }

    .header-nav.active {
        display: block;
    }

    .header-nav ul {
        flex-direction: column;
        gap: 1rem;
    }
}

.waste-to-energy{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

